<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kevsoft.LiveControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kevsoft.LiveControl.Properties.Settings>
            <setting name="MEVP_Path" serializeAs="String">
                <value>C:\Program Files\SLMEV\MEVP.dll</value>
            </setting>
            <setting name="ShapeThreadSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OutputThreadSpeed" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Milford1463Port" serializeAs="String">
                <value>COM1</value>
            </setting>
        </Kevsoft.LiveControl.Properties.Settings>
    </userSettings>
</configuration>